<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>First Name:</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].firstName %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Last Name:</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].lastName %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Visits:</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].visit %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <h2>Type of shoes:</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].typeShoes %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    <h2>Characteristis of the website:</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].characts %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <h2>Comments:</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].comments %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>
    <h2>Rate how good the UI is:</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].goodUi %> :  <%= results[6][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>